﻿@model User
<div id="main">
<div class="inner">
							<section>
								<h2>Profile</h2>

								<form method="post" asp-action="Edit">
									<div class="fields">
										<div class="field half">
											<input asp-for="Name" type="text" name="name" id="name" value="@Model.Name" />
										</div>

										<div class="field half">
											<input asp-for="Address" type="text" name="address" id="address" value="@Model.Address" />
										</div>

										<div class="field half">
											<input asp-for="Phone" type="text" name="phone" id="phone" value="@Model.Phone" />
										</div>
											<input asp-for="UserId" type="hidden" value="@Model.UserId"/>
										<div class="field text-right">
											<label>&nbsp;</label>

											<ul class="actions">
												<li><input type="submit" value="Update Profile" class="primary" /></li>
											</ul>
											<ul class="actions">
												<li><input asp-controller="ChangePassword" asp-action="Index" type="submit" value="Change Password" class="primary" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
							<section>

								<h2>Share This</h2>

								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="#" class="icon style2 fa-behance"><span class="label">Behance</span></a></li>
								</ul>
							</section>
						</div></div>