﻿@model IEnumerable<BookStoreWeb.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string mess = ViewBag.Message;
}

<h1>Manage User</h1>

@if(!string.IsNullOrEmpty(mess))
{
    <h5 style="color: blue">@mess</h5>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                @if (item.Role == 1)
                {
                    <td>User</td>
                }
                @if (item.Role == 2)
                {
                    <td>Admin</td>
                }
                @if (item.Status == 0)
                {
                    <td style="color:red">Disabled</td>
                }
                @if (item.Status == 1)
                {
                    <td style="color:green">Active</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-userId="@item.UserId">Edit</a> 
                    @* <a asp-action="Delete" asp-route-userId="@item.UserId">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
