﻿@using Newtonsoft.Json;
@model IEnumerable<Order>
@inject IHttpContextAccessor Accessor
@{
    List<Product> products = ViewBag.Products;
    User user = JsonConvert.DeserializeObject<User>(Accessor?.HttpContext?.Session.GetString("user"));
}
<style scoped>
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        overflow: visible;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        cursor: pointer;
        top: 20px;
    }

    .dropbtn {
        cursor: pointer;
    }

    .dropdown-content a {
        color: black;
        padding: 2px 10px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #f1f1f1;
    }

    .show {
        display: block;
    }
</style>

<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="rounded">
                <div class="table-responsive table-borderless">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Book Name</th>
                                <th>Order Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            @foreach (var order in Model)
                            {
                                <tr class="cell-1">
                                    <td>@order.OrderId</td>
                                    <td>
                                        <ul style="padding-left: 0;">
                                            @foreach (OrderDetail orderDetail in order.OrderDetails)
                                            {
                                                <a asp-action="Details" asp-controller="Product" asp-route-id="@orderDetail.ProductId">
                                                <li style="list-style: none; padding-left: 0;">@products.SingleOrDefault(p => p.ProductId == orderDetail.ProductId).Name</li>
                                                </a>
                                            }
                                        </ul>
                                    </td>
                                    <td>@(order.OrderedDate == DateTime.Today ? "Today" : order.OrderedDate == DateTime.Today.AddDays(-1) ? "Yesterday" : order.OrderedDate.ToString("dd-MM-yyyy"))</td>
                                    @{
                                        switch (order.Status)
                                        {
                                            case 0:
                                                <td><span class="badge rounded-pill bg-danger">Canceled</span></td>
                                                break;
                                            case 1:
                                                <td><span class="badge rounded-pill bg-info">Pending</span></td>
                                                break;
                                            case 2:
                                                <td><span class="badge rounded-pill bg-warning text-dark">Shipping</span></td>
                                                break;
                                            default:
                                                <td><span class="badge rounded-pill bg-success">Completed</span></td>
                                                break;
                                        }
                                    }
                                    <td style="width: 10%;">
                                        <div class="dropdown">
                                            <i class="fa fa-ellipsis-h text-black-50 dropbtn" onclick="showDropdown('order-options-@order.OrderId')"></i>
                                            <!-- Order Options -->
                                            <div id="order-options-@order.OrderId" class="dropdown-content">
                                                <a asp-action="Details" asp-controller="Order" asp-route-id="@order.OrderId">View</a>
                                                @if (user.Role == 1 && order.Status == 1)
                                                {
                                                    <a asp-action="ChangeStatus" asp-controller="Order" asp-route-id="@order.OrderId" asp-route-status="0">Cancel</a>
                                                }
                                                @if (user.Role == 1 && order.Status == 2)
                                                {
                                                    <a asp-action="ChangeStatus" asp-controller="Order" asp-route-id="@order.OrderId" asp-route-status="3">Received</a>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function showDropdown(order) {
            document.getElementById(order).classList.toggle("show");
        }

        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
}