﻿@model User

<section class="user">
    <div class="user_options-container">
        <div class="user_options-text">
            <div class="user_options-unregistered">
                <h2 class="user_unregistered-title">Don't have an account?</h2>
                <button class="user_unregistered-signup" id="signup-button">Sign up</button>
            </div>

            <div class="user_options-registered">
                <h2 class="user_registered-title">Have an account?</h2>
                <button class="user_registered-login" id="login-button">Login</button>
            </div>
        </div>

        <div class="user_options-forms" id="user_options-forms">
            <div class="user_forms-login">
                <h2 class="forms_title"><strong>Login</strong></h2>
                <form asp-action="Login" method="post" class="forms_form">
                    <fieldset class="forms_fieldset">
                        <div class="forms_field">
                            <input asp-for="Email" name="email" type="email" placeholder="Email" class="forms_field-input" required autofocus />
                        </div>
                        <div class="forms_field">
                            <input asp-for="Password" name="password" type="password" placeholder="Password" class="forms_field-input" required />
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <input type="submit" value="Log In" class="forms_buttons-action">
                    </div>
                </form>
            </div>
            <div class="user_forms-signup" style="top: 20px;">
                <h2 class="forms_title" style="margin-bottom: 20px"><strong>Sign Up</strong></h2>
                <form asp-action="Register" method="post" class="forms_form">
                    <fieldset class="forms_fieldset">
                        <div class="forms_field">
                            <input asp-for="Name" name="name" type="text" placeholder="Full Name" class="forms_field-input" required />
                        </div>
                        <div class="forms_field">
                            <input asp-for="Email" name="email" type="email" placeholder="Email" class="forms_field-input" required />
                        </div>
                        <div class="forms_field">
                            <input asp-for="Password" name="password" type="password" placeholder="Password" class="forms_field-input" required />
                        </div>
                        <div class="forms_field">
                            <input asp-for="Address" name="address" type="text" placeholder="Address" class="forms_field-input" required />
                        </div>
                        <div class="forms_field">
                            <input asp-for="Phone" name="phone" type="text" placeholder="Phone" class="forms_field-input" required />
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <input type="submit" value="Sign up" class="forms_buttons-action">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@if (TempData.ContainsKey("message"))
{
    <script type="text/javascript">

        alert(@TempData["message"]);

    </script>
}
