﻿@model User
@{
	var message = TempData["message"] as string;
}
@if (!string.IsNullOrEmpty(message))
{
		<div class="alert alert-success">
			@message
		</div>
}
<div id="main">
<div class="inner">
							<section>
								<h2>Change Password</h2>

								<form method="post" asp-action="Edit">
									<div class="fields">
										<div class="field half">
											<input  type="password" name="oldPass" id="oldPass" placeholder="Old Password" required/>
										</div>

										<div class="field half">
											<input  type="password" name="newPass" id="newPass" placeholder="New Password" required/>
										</div>

										<div class="field half">
											<input  type="password" name="renewPass" id="renewPass" placeholder="Confirm New Password" required/>
										</div>
											
										<div class="field text-right">
											<label>&nbsp;</label>

											<ul class="actions">
												<li><input type="submit" value="Change password" class="primary" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
							<section>

								<h2>Share This</h2>

								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="#" class="icon style2 fa-behance"><span class="label">Behance</span></a></li>
								</ul>
							</section>
						</div></div>