﻿@model BookStoreWeb.Models.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" readonly></input>
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" readonly></input>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderedDate" class="control-label"></label>
                <input asp-for="OrderedDate" class="form-control" readonly/>
                <span asp-validation-for="OrderedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" disabled="@(ViewBag.Status == 0 || ViewBag.Status == 3 ? "disabled" : null)">
                    <option value="0" selected="@(ViewBag.Status == 0 ? "selected" : null)">Cancelled</option>
                    <option value="1" selected="@(ViewBag.Status == 1 ? "selected" : null)">Pending</option>
                    <option value="2" selected="@(ViewBag.Status == 2 ? "selected" : null)">Shipping</option>
                    <option value="3" selected="@(ViewBag.Status == 3 ? "selected" : null)">Completed</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
