﻿@model IEnumerable<BookStoreWeb.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string mess = ViewBag.Message;
}

<h1>Manage Order</h1>

@if (!string.IsNullOrEmpty(mess))
{
    <h5 style="color: blue">@mess</h5>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderedDate)
                </td>
                @if(item.Status == 0)
                {
                    <td>Cancelled</td>
                }
                @if (item.Status == 1)
                {
                    <td>Pending</td>
                }
                @if (item.Status == 2)
                {
                    <td>Shipping</td>
                }
                @if (item.Status == 3)
                {
                    <td>Completed</td>
                }
                <td>
                    <a asp-action="Edit" asp-route-ordId="@item.OrderId">Edit</a> |
                    <a asp-action="Detail" asp-route-ordId="@item.OrderId">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>
