﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Product pro = ViewBag.Product;
}
@model List<BookStoreWeb.Models.Product>


<div id="main">
    <div class="inner">
        <h1>@pro.Name <span class="pull-right"> $@pro.Price.ToString("0.00")</span></h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/@pro.Img" class="img-fluid" alt="" style="width:100%">
                </div>

                <div class="col-md-7">
                    <p><h3 style="display: inline-block;">Category:</h3> @pro.Category.Name</p>
                    <p>@pro.Desc</p>                   

                    <div class="row">
                        @* <div class="col-sm-4">
                        <label class="control-label">Extra 1</label>

                        <div class="form-group">
                        <select>
                        <option value="0">Extra 1</option>
                        <option value="1">Extra 2</option>
                        <option value="2">Extra 3</option>
                        </select>
                        </div>
                        </div> *@

                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <a asp-action="Add" asp-controller="Cart" asp-route-productID="@pro.ProductId"><input type="submit" value="Add to Cart" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="container-fluid">
            <h2 class="h2">Similar Products</h2>

            <!-- Products -->
            <section class="tiles">
                @foreach (var item in Model)
                {
                    <article class="style1">
                        <span class="image">
                            <img src="~/@item.Img" alt="" />
                        </span>
                        <a href="details?id=@item.ProductId">
                            <h2>@item.Name</h2>

                            <p><strong>$@item.Price</strong></p>

                            <p>@item.Desc</p>
                        </a>
                    </article>

                }
            </section>
        </div>
    </div>
</div>