﻿@model IEnumerable<Product>

<div id="main">
    <div class="inner">
        <h1>Products</h1>
        <!-- Banner -->
        <div class="image main">
            <img src="~/images/banner-image-6-1920x500.jpg" class="img-fluid" alt="" />
        </div>

        <!-- Search -->
        <div id="search">
            <form asp-action="Index" method="get" style="display: flex;justify-content: space-between;">
                <input name="txtSearch" type="text" class="textbox" placeholder="Search" style="width: 93%;">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
        
        <!-- Products -->
        <section class="tiles">
            @foreach (var (product, index) in Model.Select((value, i) => (value, i)))
            {
                <article class="@("style"+index)">
                    <span class="image">
                        <img src="@product.Img" alt="@product.Name" />
                    </span>
                    <a asp-action="Details" asp-controller="Product" asp-route-id="@product.ProductId">
                        <h2>@product.Name</h2>

                        <p><strong>$@product.Price.ToString("0.00")</strong></p>

                        <p style="overflow: hidden; text-overflow: ellipsis;">@product.Desc</p>
                    </a>
                </article>
            }
        </section>

        <!--Navigation-->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @{
                    int page = ViewBag.CurrentPage;
                }
                <li class="page-item @(page < 2 ? "disabled" : "")">
                    <a class="page-link" asp-action="Index" asp-controller="Product" asp-route-page="@(page-1)" tabindex="-1" aria-disabled="@(page < 2)"><<</a>
                </li>
                @if (page > 2 && ViewBag.TotalPage > 3)
                {
                    <li class="page-item">...</li>
                }
                @if (page > 1)
                {
                    if (page == 3 && ViewBag.TotalPage < 4)
                    {
                        <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Product" asp-route-page="@(page-2)">@(page - 2)</a></li>
                    }
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Product" asp-route-page="@(page-1)">@(page - 1)</a></li>
                }
                <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Product" asp-route-page="@(page)">@(page)</a></li>
                @if (page < ViewBag.TotalPage)
                {
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Product" asp-route-page="@(page+1)">@(page + 1)</a></li>
                    if (page == 1 && ViewBag.TotalPage < 4)
                    {
                        <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Product" asp-route-page="@(page+2)">@(page + 2)</a></li>
                    }
                }
                @if (page < ViewBag.TotalPage - 1 && ViewBag.TotalPage > 3)
                {
                    <li class="page-item">...</li>
                }
                <li class="page-item @(page >= ViewBag.TotalPage ? "disabled" : "")">
                    <a class="page-link" asp-action="Index" asp-controller="Product" asp-route-page="@ViewBag.TotalPage" tabindex="-1" aria-disabled="@(page >= ViewBag.TotalPage)">>></a>
                </li>
            </ul>
        </nav>
    </div>
</div>