﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Cart";
}

@{
    String cartString = Accessor?.HttpContext?.Session.GetString("cart");
    List<Cart>? carts = null;
    if (cartString != null) carts = JsonConvert.DeserializeObject<List<Cart>>(cartString);
    decimal total = 0;
}

<style>
    input[type='number'] {
        text-align: center;
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<section class="h-100 h-custom">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="h5" style="font-weight: bold;">Shopping Bag</th>
                                <th scope="col">Category</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (carts != null)
                            {
                                foreach (Cart cart in carts)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="d-flex align-items-center">
                                                <img src="@cart.Product.Img" class="img-fluid rounded-3"
                                                     style="width: 120px;" alt="@cart.Product.Name">
                                                <div class="flex-column ms-4">
                                                    <p class="mb-2">@cart.Product.Name</p>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="align-middle">
                                            <p class="mb-0" style="font-weight: 500;">@cart.Product.Category.Name</p>
                                        </td>
                                        <td class="align-middle">
                                            <div class="d-flex flex-row">
                                                <button type="button" class="btn btn-link px-2"
                                                        onclick="decrementAndUpdate(this)" style="height: 2.5em; width: 2.5em;">
                                                    <i class="fa fa-minus" style="padding-left: 5px;"></i>
                                                </button>

                                                <input id="form1" min="0" name="quantity" value="@cart.Quantity" type="number"
                                                       class="form-control form-control-sm" style="width: 50px;" onchange="changeQuantity(@cart.Product.ProductId, this.value)" />

                                                <button type="button" class="btn btn-link px-2"
                                                        onclick="incrementAndUpdate(this)" style="height: 2.5em; width: 2.5em;">
                                                    <i class="fa fa-plus" style="padding-left: 5px;"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <p class="mb-0" style="font-weight: 500;">$@cart.Product.Price.ToString("0.00")</p>
                                        </td>
                                        @{
                                            total += cart.Quantity * cart.Product.Price;
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
                    <div class="card-body p-4">

                        <div class="row">
                            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0"></div>
                            <div class="col-md-6 col-lg-5 col-xl-6"></div>
                            <div class="col-lg-2 col-xl-2">
                                <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                                    <p class="mb-2">Total</p>
                                    <p class="mb-2" id="total">$@total.ToString("0.00")</p>
                                </div>

                                <a asp-action="Checkout" asp-controller="Order" style="float: right;">
                                    <input type="submit" class="primary" value="Checkout">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        function incrementAndUpdate(element) {
            var inputElement = element.parentNode.querySelector('input[type=number]');
            inputElement.stepUp();
            triggerChange(inputElement);
        }

        function decrementAndUpdate(element) {
            var inputElement = element.parentNode.querySelector('input[type=number]');
            inputElement.stepDown();
            triggerChange(inputElement);
        }

        function triggerChange(element) {
            var event = new Event('change', { bubbles: true });
            element.dispatchEvent(event);
            document.location.reload();
        }

        function changeQuantity(productID, newQuantity) {
            $.ajax({
                url: '@Url.Action("ChangeQuantity","Cart")' + '?id=' + productID + '&quantity=' + newQuantity,
                type: 'POST'
            });
        }
    </script>
}